.letterSign{
    display: inline-block;
    padding: 16px;
    margin: 16px;
    border: 1px solid black;
    text-align: center;    
    text-transform: uppercase;
    font-weight: bold;
    font-size: 70px;
}

/* input type text width*/
input[type="text"] {
    width: 500px;
}


